<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="../../css/estilos.css">
    <title>Nueva compra</title>
</head>

<body>
    <div id="app" class="row container-fluid bg-primary m-0 p-0 w-100">
        <!-- Menú lateral -->
        <div class="col-md-3">
            <!-- Barra de navegacion -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mt-3" id="menu">
                    <!-- Menu de navegacion -->
                    <div class="accordion px-4" id="barramenu">
                        <div class="card">
                            <div class="card-header p-2 text-center">
                                <a href="../../index.html" class="btn btn-link text-success" type="button"
                                    style="text-decoration: none;">
                                    <i class="fas fa-cash-register fa-2x"></i> <span class="h3">POS</span>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link text-success" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fas fa-user fa-lg"></i> Clientes
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#barramenu">
                                <div class="card-body px-0">
                                    <nav class="nav flex-column">
                                        <a class="nav-link text-primary" href="../clientes/listado.html">
                                            <i class="fas fa-users"></i> Listar clientes
                                        </a>
                                        <a class="nav-link text-primary" href="../clientes/nuevo.html">
                                            <i class="fas fa-user-plus"></i> Nuevo cliente
                                        </a>
                                        <a class="nav-link text-primary" href="../clientes/editar.html">
                                            <i class="fas fa-user-edit"></i> Editar cliente
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="fas fa-box-open fa-lg"></i> Productos
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#barramenu">
                                <div class="card-body px-0">
                                    <nav class="nav flex-column">
                                        <a class="nav-link text-primary" href="../productos/listado.html">
                                            <i class="fas fa-boxes"></i> Listar Productos
                                        </a>
                                        <a class="nav-link text-primary" href="../productos/nuevo.html">
                                            <i class="fas fa-folder-plus"></i> Nuevo Producto
                                        </a>
                                        <a class="nav-link text-primary" href="../productos/editar.html">
                                            <i class="fas fa-edit"></i> Editar Producto
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingProve">
                                <h2 class="mb-0">
                                    <button class="btn btn-link text-success" type="button" data-toggle="collapse"
                                        data-target="#proveedores" aria-expanded="true" aria-controls="proveedores">
                                        <i class="fas fa-user-tie fa-lg"></i> Proveedores
                                    </button>
                                </h2>
                            </div>
                            <div id="proveedores" class="collapse" aria-labelledby="headingProve"
                                data-parent="#barramenu">
                                <div class="card-body px-0">
                                    <nav class="nav flex-column">
                                        <a class="nav-link text-primary" href="../proveedores/listado.html">
                                            <i class="fas fa-users"></i> Listar proveedores
                                        </a>
                                        <a class="nav-link text-primary" href="../proveedores/nuevo.html">
                                            <i class="fas fa-user-plus"></i> Nuevo proveedor
                                        </a>
                                        <a class="nav-link text-primary" href="../proveedores/editar.html">
                                            <i class="fas fa-user-edit"></i> Editar proveedor
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <i class="fas fa-boxes fa-lg"></i> Inventario
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#barramenu">
                                <div class="card-body px-0">
                                    <a class="nav-link text-primary" href="../inventario/devoluciones.html">
                                        <i class="fas fa-people-carry"></i> Devoluciones
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="facturas">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#menufacturas" aria-expanded="false" aria-controls="menufacturas">
                                        <i class="fas fa-shopping-cart fa-lg"></i> Compras
                                    </button>
                                </h2>
                            </div>
                            <div id="menufacturas" class="collapse" aria-labelledby="headingFor"
                                data-parent="#barramenu">
                                <div class="card-body px-0">
                                    <nav class="nav flex-column">
                                        <a class="nav-link text-primary" href="../compras/nuevo.html">
                                            <i class="fas fa-cart-plus"></i> Nueva Compra
                                        </a>
                                        <a class="nav-link text-primary" href="../compras/listado.html">
                                            <i class="fas fa-book"></i> Listado de compras
                                        </a>
                                        <a class="nav-link text-primary" href="../compras/cuentas-por-pagar.html">
                                            <i class="fas fa-file-invoice-dollar"></i> Cuentas por Pagar
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFor">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                                        <i class="fas fa-file-invoice-dollar fa-lg"></i> Facturas
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFor" class="collapse" aria-labelledby="headingFor"
                                data-parent="#barramenu">
                                <div class="card-body px-0">
                                    <nav class="nav flex-column">
                                        <a class="nav-link text-primary" href="../facturas/listado.html">
                                            <i class="fas fa-book"></i> Listado de facturas
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <i class="fas fa-cash-register fa-lg"></i> Movimiento de caja
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                data-parent="#barramenu">
                                <div class="card-body px-0">
                                    <nav class="nav flex-column">
                                        <a class="nav-link text-primary" href="#">
                                            <i class="fas fa-door-open"></i> Apertura de caja
                                        </a>
                                        <a class="nav-link text-primary" href="#">
                                            <i class="fas fa-door-closed"></i> Cierre de caja
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header p-2 text-center">
                                <a href="../../../../index.html" class="btn btn-link text-success" type="button"
                                    style="text-decoration: none;">
                                    <i class="fas fa-home"></i> Ir a presentación
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Menu de navegacion -->
                </div>
            </nav>
            <!-- Fin Barra de navegacion -->
        </div>
        <!-- Fin Menú lateral -->
        <div class="col-md-9 bg-white">
            <div class="container mt-3">
                <h4 class="text-center my-3 text-primary font-weight-bold">
                    <i class="fas fa-cart-plus"></i> Nueva Compra
                </h4>
                <form v-on:submit.prevent="addcomprageneral">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="input-group mb-3 col-md-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fas fa-file-invoice-dollar text-primary"></i></span>
                                    </div>
                                    <input type="text" class="form-control" v-model="comprageneral.factura"
                                        placeholder="Numero de factura" required>
                                </div>
                                <div class="col-md-6">
                                    <div class="row row-cols-2">
                                        <div class="col-7 input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="fas fa-building text-primary"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Proveedor"
                                                v-model="comprageneral.proveedor" required>
                                        </div>
                                        <div class="col-5">
                                            <button type="button" class="btn btn-success" data-toggle="modal"
                                                data-target="#modalproveedor" title="Buscar proveedor">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3 col-md-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fas fa-calendar-alt text-primary"></i></span>
                                    </div>
                                    <input type="date" class="form-control text-center" v-model="comprageneral.fecha"
                                        title="Fecha de la compra" @change="selectfecha" :max="fechaactual" required>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row row-cols-2">
                                <div class="col-md-4 col-9 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-barcode text-primary"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="codebarra" placeholder="Código"
                                        v-on:keyup.enter="addcodebarra">
                                </div>
                                <div class="col-md-4 col-3">
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#modalproducto" title="Buscar producto">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <h5 class="text-center text-primary">Productos agregados</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm text-center">
                                    <thead class="table-success">
                                        <tr>
                                            <th>Código</th>
                                            <th>Descripción</th>
                                            <th style="width: 40px;">Uns</th>
                                            <th style="width: 50px;">Iva %</th>
                                            <th>$Costo</th>
                                            <th>Cantidad</th>
                                            <th>$Venta</th>
                                            <th>$Subtotal</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(com,index) in compra">
                                            <td>{{com.codigo}}</td>
                                            <td class="text-capitalize">{{com.descripcion}}</td>
                                            <td>{{com.uns}}</td>
                                            <td>{{com.iva}}%</td>
                                            <td style="width: 90px;">
                                                <input type="number" class="form-control form-control-sm text-center"
                                                    title="Costo del producto" v-model="com.costo" style="width: 90px;"
                                                    @keyup="subtotalproduct(index)" @keyup="subtotalproduct(index)"
                                                    @click="subtotalproduct(index)" min="1" required>
                                            </td>
                                            <td style="width: 65px;">
                                                <input type="number" class="form-control form-control-sm text-center"
                                                    title="Cantidad compradas" v-model="com.cantidad"
                                                    style="width: 65px;" @keyup="subtotalproduct(index)"
                                                    @click="subtotalproduct(index)" required>
                                            </td>
                                            <td style="width: 90px;">
                                                <input type="number" class="form-control form-control-sm text-center"
                                                    title="Precio de venta" v-model="com.venta" style="width: 90px;"
                                                    @keyup="subtotalproduct(index)" @click="subtotalproduct(index)"
                                                    min="1" required>
                                            </td>
                                            <td style="width: 90px;">
                                                <input type="number"
                                                    class="form-control form-control-sm text-center text-primary"
                                                    title="Precio de venta" v-model="com.subtotal" style="width: 90px;"
                                                    min="1" readonly>
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-link btn-sm"
                                                        title="Restablecer" @click="resetitemcompra(index)">
                                                        <i class="fas fa-redo fa-lg text-primary"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-link btn-sm" title="Eliminar"
                                                        @click="deletedecompra(index)">
                                                        <i class="far fa-trash-alt text-danger fa-lg"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6>Items: <strong>{{cantitemcompra}}</strong></h6>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <h6 class="text-primary font-weight-bold">Subtotal: ${{subtotalcompra}}</h6>
                            <h6 class="text-primary">Iva %: ${{ivacompra}}</h6>
                            <h5 class="text-primary font-weight-bold">Total: ${{totalcompra}}</h5>
                        </div>
                    </div>
                    <div class="mt-3 mb-4 text-right">
                        <button type="button" class="btn btn-primary" @click="cancelarcompra">Cancelar <i
                                class="far fa-window-close"></i></button>
                        <button type="submit" class="btn btn-success ml-3">Guardar <i class="far fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal buscar proveedor -->
        <div class="modal fade" id="modalproveedor" tabindex="-1" role="dialog" aria-labelledby="modalproveedorLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="modalproveedorLabel">
                            <i class="fas fa-users"></i> Listado de proveedores
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-2 mt-4">
                            <div class="col-8">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input type="text" class="form-control col-md-6" placeholder="Buscar"
                                        id="filtroprove">
                                </div>
                            </div>
                            <div class="col-4 text-right">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#modalnewproveedor">
                                    Nuevo <i class="fas fa-user-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive mt-3">
                            <table id="tableproveList" class="table table-bordered table-sm text-center">
                                <thead>
                                    <tr class="table-success">
                                        <th>Nit/Rut</th>
                                        <th>Nombre</th>
                                        <th>Ciudad</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="filtroprovetr" v-for="(pro,index) in proveedores">
                                        <td>{{pro.nit}}</td>
                                        <td class="text-capitalize">{{pro.nombre}}</td>
                                        <td>{{pro.ciudad}}</td>
                                        <td>
                                            <button class="btn btn-link btn-sm" title="Seleccionar"
                                                @click="selectproveedor(index)">
                                                <i class="fas fa-check-circle fa-lg text-primary"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Atrás
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Modal buscar proveedor -->

        <!-- Modal crear proveedor -->
        <div class="modal fade" id="modalnewproveedor" tabindex="-1" role="dialog"
            aria-labelledby="modalnewproveedorLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="modalnewproveedorLabel">
                            <i class="fas fa-user-plus"></i> Nuevo Proveedor
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form v-on:submit.prevent="addnewproveedor">
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nit">Nit/Rut</label>
                                    <input type="text" class="form-control" id="nit" v-model="addproveedores.nit"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Nombre">Nombre</label>
                                    <input type="text" class="form-control" id="Nombre" v-model="addproveedores.nombre"
                                        required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="telefono">Teléfono</label>
                                    <input type="number" class="form-control" id="telefono"
                                        v-model="addproveedores.telefono" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Correo">Correo</label>
                                    <input type="email" class="form-control" id="Correo" v-model="addproveedores.correo"
                                        required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="direccion">Dirección</label>
                                    <input type="text" class="form-control" id="direccion"
                                        v-model="addproveedores.direccion" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Ciudad">Ciudad</label>
                                    <input type="text" class="form-control" id="Ciudad" v-model="addproveedores.ciudad"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar <i
                                    class="far fa-window-close"></i></button>
                            <button type="submit" class="btn btn-success">Guardar <i class="far fa-save"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fin Modal crear proveedor -->

        <!-- Modal buscar producto -->
        <div class="modal fade" id="modalproducto" tabindex="-1" role="dialog" aria-labelledby="modalproductoLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="modalproductoLabel">
                            <i class="fas fa-boxes"></i> Listado de productos
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row row-cols-2 mt-4">
                            <div class="col-8">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input type="text" class="form-control col-md-6" placeholder="Buscar" id="filtro">
                                </div>
                            </div>
                            <div class="col-4 text-right">
                                <button class="btn btn-primary" data-toggle="modal"
                                    data-target="#modalnewproducto">Nuevo
                                    <i class="fas fa-folder-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive mt-3">
                            <table id="tableUserList" class="table table-bordered table-sm text-center">
                                <thead>
                                    <tr class="table-success">
                                        <th>Codigo</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Opción</th>
                                    </tr>
                                </thead>
                                <tbody id="myTableBody">
                                    <tr id="filtrotr" v-for="(pro,index) in productos">
                                        <td>{{pro.codigo}}</td>
                                        <td class="text-capitalize">{{pro.descripcion}}</td>
                                        <td>{{pro.stock}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" title="Agregar"
                                                @click="addproductcompra(index)">
                                                <i class="fas fa-cart-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12 text-center">
                                <ul class="pagination pagination-lg pager" id="myPager"></ul>
                                <small>
                                    <span class="text-warning">*</span>
                                    Los productos y precios mostrados en este listado no son
                                    referentes a precios reales, son intuitivos para la simulación.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Atrás
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Modal buscar producto -->

        <!-- Modal crear producto -->
        <div class="modal fade" id="modalnewproducto" tabindex="-1" role="dialog"
            aria-labelledby="modalnewproductoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" id="modalnewproductoLabel"><i
                                class="fas fa-folder-plus"></i>
                            Producto Nuevo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form v-on:submit.prevent="addnewproduct">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <input type="text" class="form-control text-capitalize" id="descripcion"
                                    v-model="addproduct.descripcion" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="codigo">Codigo</label>
                                    <input type="number" class="form-control" id="codigo" v-model="addproduct.codigo"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="telefono">Unidad</label>
                                    <select class="custom-select" v-model="addproduct.uns" required>
                                        <option value="">Seleccione...</option>
                                        <option value="Un">Un (Unidad)</option>
                                        <option value="Bt">Bt (Botella)</option>
                                        <option value="Bu">Bu (Bulto)</option>
                                        <option value="Cj">Cj (Caja)</option>
                                        <option value="Ct">Cte (Cuñete)</option>
                                        <option value="Gl">Gl (Galon)</option>
                                        <option value="Hj">Hj (Hoja)</option>
                                        <option value="Jg">Jg (Juego)</option>
                                        <option value="Kl">Kl (Kilo)</option>
                                        <option value="Kt">Kt (Kit)</option>
                                        <option value="Lb">Lb (Libra)</option>
                                        <option value="Mt">Mt (Metro)</option>
                                        <option value="Pg">Pg (Pulgada)</option>
                                        <option value="Pr">Pr (Par)</option>
                                        <option value="Rl">Rl (Rollo)</option>
                                        <option value="Sb">Sb (Sobre)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar <i
                                    class="far fa-window-close"></i></button>
                            <button type="submit" class="btn btn-success">Guardar <i class="far fa-save"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fin Modal crear producto -->
    </div>
    <!-- Footer -->
    <footer style="background-color: #3E5770;">
        <!-- Footer Elements -->
        <div class="container">
            <div class="mb-3 pt-5 d-flex justify-content-center">
                <!-- Facebook -->
                <a class="text-white">
                    <i class="fab fa-facebook-f mx-4 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="text-white">
                    <i class="fab fa-instagram mx-4 fa-2x"> </i>
                </a>
                <!--Pinterest-->
                <a class="text-white">
                    <i class="fab fa-whatsapp mx-4 fa-2x"></i>
                </a>
            </div>
        </div>
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="text-center text-success py-3">© 2020 Copyright:
            <a class="text-white" href="https://nlugopino.github.io/"> Nelson Andres Lugo Pino</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../../js/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../js/app.js"></script>
    <script src="../../js/paginador.js"></script>
    <script>
        $(document).ready(function () {
            $("#filtroprove").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tableproveList #filtroprovetr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $(document).ready(function () {
            $("#filtro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tableUserList #filtrotr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $(document).ready(function () {
            $("#tableUserList").paginationTdA({
                elemPerPage: 30
            });
        });
    </script>
</body>

</html>